@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.DefinitelyTypedFilters-container {
  .DefinitelyTypedFilters-controlsContainer {
    display: flex;
    justify-content: center;

    > :not(:first-child) {
      margin-left: 25px;
    }

    .DefinitelyTypedFilters-inputsContainer {
      display: flex;

      > .DefinitelyTypedFilters-input:not(:first-child) {
        margin-left: 25px;
      }

      .DefinitelyTypedFilters-inputLabel {
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }

    .DefinitelyTypedFilters-checkboxesContainer {
      display: flex;

      > .DefinitelyTypedFilters-checkbox:not(:first-child) {
        margin-left: 25px;
      }
    }
  }

  .DefinitelyTypedFilters-infoContainer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    .DefinitelyTypedFilters-success,
    .DefinitelyTypedFilters-warning,
    .DefinitelyTypedFilters-error,
    .DefinitelyTypedFilters-total {
      width: 200px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 5px;

      .DefinitelyTypedFilters-infoLabel {
        display: block;
      }

      .DefinitelyTypedFilters-infoCount {
        font-size: 50px;
        line-height: 48px;
      }
    }

    .DefinitelyTypedFilters-success,
    .DefinitelyTypedFilters-warning,
    .DefinitelyTypedFilters-error {
      cursor: pointer;

      @include box-shadow(0 5px 3px 0 rgba(0,0,0,0.75));

      &:hover {
        @include box-shadow(0 10px 14px 0 rgba(0,0,0,0.75));
      }

      &.selected {
        @include box-shadow(inset 0 0 14px 5px rgba(255,255,255,.75));
      }
    }

    .DefinitelyTypedFilters-total {
      pointer-events: none;
    }

    .DefinitelyTypedFilters-success {
      background-color: green;
    }

    .DefinitelyTypedFilters-warning {
      background-color: rgb(255, 152, 0);
    }

    .DefinitelyTypedFilters-error {
      background-color: rgb(244, 67, 54);
    }
  }
}
