.Performance {
    &-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-graphContainer {
        margin-top: 40px;
    }

    &-graph {
        text-align: center;
    }

    &-select {
        width: 400px;
    }
}
