.App {
    &-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-content: center;
        padding: 40px;
        box-sizing: border-box;
    }

    &-navigation {
        min-width: 400px;
        width: 50%;
        margin: 0 auto;
    }

    &-content {
        flex: 1;
    }
}
