.DefinitelyTyped-container {
  .DefinitelyTyped-typesViewCount {
    margin-top: 20px;
    text-align: center;
  }

  .DefinitelyTyped-typesContainer {
    margin-top: 10px;

    details {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: .5em .5em 0;

      summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: .5em;
      }
    }

    details.success {
      background-color: green;

      summary {
        color: transparent;
        padding: 0;

        > span {
          color: white;
        }
      }
    }

    details.warning {
      summary {
        background-color: rgb(220, 132, 0);
        color: white;
      }
    }

    details.error {
      summary {
        background-color: rgb(200, 40, 32);
        color: white;
      }
    }

    details.warning,
    details.error {
      summary {
        cursor: pointer;
      }

      pre {
        white-space: pre-wrap;
        font-size: 18px;
      }

      background-color: black;
      color: #66DD66;

      &[open] {
        padding: .5em;

        summary {
          border-bottom: 1px solid #aaa;
          margin-bottom: .5em;
        }
      }
    }
  }
}
