name: Performance

on:
  push:
    branches:
      # this one will change to master before approving this PR
      - performance-tests
    paths-ignore:
      - 'data/**'

jobs:
  performance:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install ts auto mock
      run: |
        npm install
        npm run build
      env:
        CI: true
    - name: performance
      run: |
        cd performance
        npm install
        npm start
    - name: create environment variable date
      run: echo "::set-env name=DATE::$(date +%Y-%m-%dT%H-%M-%S)"
    - name: performance push changes
      run: |
        git config --global user.name 'typescripttdd'
        git config --global user.email 'typescripttdd@gmail.com'
        git add data
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v2.0.0
      with:
        commit-message: Add Performance data
        committer: typescripttdd <typescripttdd@gmail.com>
        author: typescripttdd <typescripttdd@gmail.com>
        title: Performance Data on ${{ env.DATE }}
        branch: performance-${{ env.DATE }}
        token: ${{ secrets.GITHUB_TOKEN }}
