name: "Performance"

on:
  push:
    branches:
    - master
    paths:
    - 'src/**'
    - 'performance/**'

jobs:
  performance:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ lts/hydrogen ]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: install ts auto mock
      run: |
        npm ci
        npm run ts-patch:install
        npm run build
      env:
        CI: true
    - name: performance
      run: |
        cd performance
        npm ci
        npm start
    - name: create environment variable date
      run: |
        echo "DATE=$(date +%Y-%m-%dT%H-%M-%S)" >> $GITHUB_ENV
    - name: performance push changes
      run: |
        git config --global user.name 'typescripttdd'
        git config --global user.email 'typescripttdd@gmail.com'
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUBTYPESCRIPTTDD }}
      with:
        commit-message: "chore(performance): add performance data"
        committer: typescripttdd <typescripttdd@gmail.com>
        author: typescripttdd <typescripttdd@gmail.com>
        title: Performance Data on ${{ env.DATE }}
        labels: ts-auto-mock-automerge
        branch: performance-${{ env.DATE }}
        token: ${{ secrets.GITHUBTYPESCRIPTTDD }}
