name: Test

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'data/**'
      - 'ui/**'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: create environment variable date
      run: |
        echo "DATE=helloworld" >> $GITHUB_ENV |
        echo "${{ env.DATE }}"
    - name: Use the value
      run: |
          echo "${{ env.DATE }}" # This will output 'yellow'
    - name: install ts auto mock and run test
      run: |
        sudo apt-get update
        sudo apt-get install -y libgbm-dev
        npm install
        npm run build
        npm test
  check-type:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: check eslint and prettier
      run: |
        sudo apt-get update
        sudo apt-get install -y libgbm-dev
        npm install
        npm run eslint
        npm run prettier
